@import './colors.scss';

@mixin border {
    border: 1px solid $raisin-black;
}
button {
    background-color: $light-gray;
    border: 1px solid $raisin-black;
    border-radius: 5px;
}
button.padded {
    padding: 1rem;
}
button:hover {
    background-color: $quick-silver;
    cursor: pointer;
}
button.primary {
    background-color: $np-blue;
    border: 1px solid $raisin-black;
    border-radius: 5px;
}
button.primary:hover {
    background-color: $dark-sky-blue;
    cursor: pointer;
}

input.invalid {
    border-color: red;
}
html {
    background-color: $ghost-white;
}
.container {
    display: flex;
}