$ghost-white: #E8E9F3;
$light-gray: #CECECE;
$quick-silver: #A6A6A8;
$raisin-black: #272635;
$np-blue: #B1E5F2;
$slate-gray: #6C8694;
$dark-sky-blue: #8FB6C3;

button {
    background-color: $light-gray;
    border: 1px solid $raisin-black;
    border-radius: 5px;
}
button:hover {
    background-color: $quick-silver;
    cursor: pointer;
}
button.primary {
    background-color: $np-blue;
    border: 1px solid $raisin-black;
    border-radius: 5px;
}
button.primary:hover {
    background-color: $dark-sky-blue;
    cursor: pointer;
}

input.invalid {
    border-color: red;
}
html {
    background-color: $ghost-white;
}